/* ===== GLOBAL ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    background:#ffffff;
    color:#111;
  }
  
  /* ===== HEADER ===== */
  header{
    background:#003366;   /* Deep Blue */
    color:#fff;
    padding:18px 0;
  }
  
  header .container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
  nav a{
    color:#ffffff;
    margin-left:18px;
    text-decoration:none;
    font-weight:600;
  }
  
  nav a:hover{
    color:#ffbf00;
  }
  
  /* ===== HERO ===== */
  .hero{
    background:#0055a5;     /* Bright Blue */
    color:white;
    padding:70px 0;
  }
  
  .hero h2{
    font-size:30px;
  }
  
  .hero p{
    font-size:17px;
  }
  
  /* ===== SECTION GENERAL ===== */
  section{
    padding:45px 0;
  }
  
  .container{
    width:90%;
    margin:auto;
  }
  
  h2{
    color:#003366;
    margin-bottom:10px;
    padding-left:8px;
    border-left:5px solid #ffbf00;
  }
  
  p{
    font-size:16px;
    color:#222;
  }
  
  /* ===== FORM ===== */
  form{
    background:#f7f7f7;
    padding:20px;
    border-radius:8px;
    margin-top:15px;
    border:2px solid #003366;
  }
  
  input, textarea{
    padding:12px;
    border:2px solid #003366;
    border-radius:6px;
  }
  
  button{
    padding:12px;
    background:#ffbf00; /* Yellow Gold */
    border:none;
    color:#000;
    font-weight:bold;
    border-radius:6px;
    cursor:pointer;
  }
  
  button:hover{
    background:#ffd84d;
  }
  
  /* ===== INFO BOX SECTIONS ===== */
  #shipping,
  #about,
  #contact{
    background:#eaf2ff;   /* Light Blue */
    border:2px solid #003366;
    border-radius:8px;
    padding:15px;
  }
  
  /* ===== FOOTER ===== */
  footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px 0;
    margin-top:20px;
  }
  
  /* ===== RESPONSIVE ===== */
  @media(max-width:768px){
    header .container{
      flex-direction:column;
    }
  }